{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

     <div class="">

        <h1>Profile List</h1>
        <div>
            <ul>
                {% for profile in profiles %}
                <li>
                    <a href="">{{ profile.user }}
                    </a>
                    {% if request.user.is_superuser %}|
                        {% for usr in profile.owner_assigned.all %}
                            {{ usr }}
                        {% endfor %}|
                    {% endif %}
    
                </li>
                {% endfor %}
    
            </ul>
        </div>
     </div>

{% endblock %}